/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */

html,
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body,
html {
  font-family: "Source Code Pro", monospace;
  /* height: 100%; */
  color: #e9e0e0;
}

html {
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
}

body {
  background-image: url("./assets/background.jpg");
  height: 100%;
  width: 100%;
  background-position: 0 30%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.main-header {
  position: relative;
  padding: 10px;
}

.nav {
  padding-top: 15px;
  display: flex;
  justify-content: flex-start;
  width: 100vw;
}
.intro {
  height: 100vh;
}
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45%;
  flex-wrap: wrap;
}

.nav-list > li {
  width: calc(100% / 4);
  text-align: center;
  font-size: 1rem;
}

.link {
  text-decoration: none;
  padding: 5px;
  color: #e9e0e0;
}
.link:visited {
  color: #e9e0e0;
}

.link:hover {
  color: #c16e70;
  cursor: pointer;
}
.center-container {
  position: relative;
  height: 100px;
}

.center {
  z-index: 2;
  color: #e9e0e0;
  position: relative;
  left: 30%;
  transform: translate(-50%, 150%);
}

.hello {
  font-size: 1.2rem;
  width: 45%;
  line-height: 140%;
}

.bold {
  font-weight: bold;
  color: #c16e70;
}

#projects {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}

h2 {
  font-size: 1.4rem;
  margin: 0 0 30px 10px;
}

.project-list {
  display: flex;
  flex-direction: column;
}

.project-card {
  display: flex;
  margin: 30px;
  flex-direction: column;
  opacity: 0.7;
  filter: contrast(1);
}

.project-link:hover {
  color: #e9e0e0;
  opacity: 0.7;
}

.project-card-image {
  transition: 0.5s ease;
  backface-visibility: hidden;
  width: 310px;
  display: block;
}

.container {
  position: relative;
  width: 310px;
}

.hidden-link {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .project-card-image {
  opacity: 0.03;
}

.container:hover .hidden-link {
  opacity: 1;
}

.hidden-text {
  color: white;
  font-size: 1rem;
}

.project-card-header {
  width: 310px;
  font-size: 20px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #c16e70;
  padding: 10px;
}

.project-card-footer {
  width: 310px;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
  background-color: #c16e70;
}

.stack {
  align-self: center;
  position: absolute;
  margin-right: 150px;
}

.stack-list {
  color: white;
  list-style-type: disc;
  list-style-type: decimal;
  line-height: 200%;
}

#resume {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 40%;
}

.resume {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin: 30px;
  transition: 0.2s ease-in;
}

.resume:hover {
  transition: 0.2s ease-in;
  opacity: 0.5;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.me {
  width: 30%;
  display: block;
  justify-self: center;
  height: 30%;
  border-radius: 5px;
  opacity: 0.8;
  border: 2px solid #c16e70;
  margin: 20px;
}

.about-me {
  width: 50%;
  line-height: 150%;
}
#contact {
  display: flex;
  justify-content: center;
}

.contact-link {
  color: #e9e0e0;
  padding: 15px;
  transition: transform 0.2s ease-in;
}

.contact-link:visited {
  color: #e9e0e0;
}

.contact-link:hover {
  transform: rotate(15deg);
}
.top-link {
  display: block;
  margin: 20px 0 20px 0;
}

#about {
  margin-top: 6rem;
}

@-moz-document url-prefix() {
  .me {
    width: 30%;
    height: 50%;
  }
}

@media (min-width: 1000px) {
  .me {
    width: 15%;
  }
}

@media (max-width: 860px) {
  .stack {
    align-self: flex-end;
    right: 10px;
  }
  .stack {
    margin-right: 0;
  }
}

@media (max-width: 780px) {
  .nav-list {
    width: 100%;
  }
  .center {
    transform: translate(-50%, 80%);
  }
}

@media (max-width: 599px) {
  .stack-list {
    line-height: 110%;
  }
  .project-card {
    margin: 10px;
  }
  .container {
    width: 40%;
  }
  .project-card-image {
    width: 100%;
  }
  .project-card-header {
    font-size: 0.9rem;
    width: 40%;
  }
  .project-card-footer {
    width: 40%;
  }
  .center {
    transform: translate(-50%, 40%);
  }
  .hello {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  body {
    background-position: center;
  }
  .me {
    width: 30%;
  }
  .about-me {
    width: 80%;
  }
}
